/* 98 CSS */
@import url('https://unpkg.com/98.css');

/* 가로 길이 */
.window {
    width: device-width;
  }
  
  /* 질문 입력 가로 길이 */
  .field-row-stacked {
    width: 98%;
  }
  
  /* 데스크탑 화면 가로 길이 */
  @media screen and (min-width: 769px) {
    .window {
      width: 220px;
    }
  }
  
  /* 일정 생성 버튼 */
  .field-row {
    justify-content: flex-end;
  }
  
  /* 로딩 창 */
  .loader {
    display: none;
    border: 8px solid #ffffff;
    border-top: 8px solid #03198f;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* 복사 버튼 */
  #copyButton {
    display: none;
  }
  